<h3> Add New Student Form</h3>
   

   <input [(ngModel)]="item.teachername" type="hidden" #teachername='ngModel'>
    

    <label class="label">Name: </label>

    <input placeholder="Student Name " class="input"
      [(ngModel)]="item.title"
      required minlength="2" maxlength="23"
      #title='ngModel' autofocus>
      
    <label class="label">ID: </label>
      <input placeholder="Student Id" class="input"
    
       required minlength="2" maxlength="23"
     autofocus>

     <label class="label">Email: </label>
     <input [(ngModel)]="item.email" placeholder="Student Email" class="input"
    
        required minlength="2" maxlength="23"  #email='ngModel'
     autofocus>

    <label class="label">Marks: </label>
    <input [(ngModel)]="item.marks" placeholder="Marks" class="input"
       required minlength="2" maxlength="23" #marks='ngModel'
       autofocus>

     <label class="label">No of Subjects </label>
     <input placeholder="No Of Subjects" class="input"
    
      required minlength="2" maxlength="23"
     autofocus>

     <label class="label">Attendance : </label>
     <input placeholder="Attendance" class="input"
    
       required minlength="2" maxlength="23"
     autofocus>

     <label class="label">Batch: </label>
     <input placeholder="Batch" class="input"
    
    required minlength="2" maxlength="23"
     autofocus>
<label class="label">Schedule: </label>
     <input [(ngModel)]="item.schedule" type="date" placeholder="Schedule" class="input"
    
    required minlength="2" maxlength="23" #shedule='ngModel'
     autofocus>

    <div *ngIf="title.dirty">
      <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
    </div>


    <button class="button is-primary" (click)='createItem()' [disabled]="!title.valid">Create</button>


<ng-template #valid>
  <p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
  <p class="help is-danger">form contains errors!</p>
</ng-template>
