<h3> Add New Student Form</h3>
   

   <input [(ngModel)]="item.teachername" type="hidden" #teachername='ngModel'>
    

    <label class="label">Name: </label>

    <input placeholder="Student Name " class="input"
      [(ngModel)]="item.title"
      required minlength="2" maxlength="23"
      #title='ngModel' autofocus>
      
    <label class="label">ID: </label>
      <input placeholder="Student Id" class="input"
    
       required minlength="2" maxlength="23"
     autofocus>

     <label class="label">Email: </label>
     <input [(ngModel)]="item.email" placeholder="Student Email" class="input"
    
        required minlength="2" maxlength="23"  #email='ngModel'
     autofocus>

    <label class="label">Total Marks: </label>
    <input [(ngModel)]="item.TotalMarks" placeholder="Total Marks" class="input"
       required minlength="2" maxlength="23" #totalmarks='ngModel'
       autofocus>

     <label class="label">Physics Marks </label>
    <input [(ngModel)]="item.marks1" placeholder="Enter Physics marks" class="input"
       required minlength="2" maxlength="23" #marks1='ngModel'
       autofocus>
       
     <label class="label">Chemistry Marks </label>
    <input [(ngModel)]="item.marks2" placeholder="Enter Chemistry marks" class="input"
       required minlength="2" maxlength="23" #marks2='ngModel'
       autofocus>
       
     <label class="label">Maths Marks </label>
    <input [(ngModel)]="item.marks3" placeholder="Enter Maths marks" class="input"
       required minlength="2" maxlength="23" #marks3='ngModel'
       autofocus>
    
     <label class="label">Bio Marks </label>
    <input [(ngModel)]="item.marks4" placeholder="Enter Bio marks" class="input"
       required minlength="2" maxlength="23" #marks4='ngModel'
       autofocus>  
       
       <label class="label">Other Marks: </label>
    <input [(ngModel)]="item.marks5" placeholder="Enter other subject marks" class="input"
       required minlength="2" maxlength="23" #marks5='ngModel'
       autofocus>  


     <!-- <label class="label">No of Subjects </label>
     <input [(ngModel)]="item.noofsub" placeholder="No of subjets" class="input"
       required minlength="2" maxlength="23" #noofsub='ngModel'
       autofocus> -->

     <label class="label">Attendance : </label>
     <input placeholder="Attendance" class="input"
    
       required minlength="2" maxlength="23"
     autofocus>

     <label class="label">Batch: </label>
     <input placeholder="Batch" class="input"
    
    required minlength="2" maxlength="23"
     autofocus>
<label class="label">Schedule: </label>
     <input [(ngModel)]="item.Testschedule" type="date" placeholder="Schedule" class="input"
    
    required minlength="2" maxlength="23" #Testschedule='ngModel'
     autofocus>

    <div *ngIf="title.dirty">
      <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
    </div>


    <button class="button is-primary" (click)='createItem()' [disabled]="!title.valid">Create</button>


<ng-template #valid>
  <p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
  <p class="help is-danger">form contains errors!</p>
</ng-template>
